.header__auth-user {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 0 24px 0 0;
  cursor: default;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 200px;
  display: inline-block;
}
