@import url(./vendors/normalize.css);

@import url(./vendors/fonts/inter.css);

@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);

@import url(./blocks/content/content.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__container/profile__container.css);
@import url(./blocks/profile/__avatar-wrapper/profile__avatar-wrapper.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__bio/profile__bio.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);

@import url(./blocks/photo-cards/photo-cards.css);
@import url(./blocks/photo-cards/__list/photo-cards__list.css);
@import url(./blocks/photo-cards/__item/photo-cards__item.css);
@import url(./blocks/photo-cards/__photo/photo-cards__photo.css);
@import url(./blocks/photo-cards/__description/photo-cards__description.css);
@import url(./blocks/photo-cards/__description/_with-count/photo-cards__description_with-count.css);
@import url(./blocks/photo-cards/__text/photo-cards__text.css);
@import url(./blocks/photo-cards/__like-block/photo__cards-like-block.css);
@import url(./blocks/photo-cards/__button-like/photo-cards__button-like.css);
@import url(./blocks/photo-cards/__like-counter/photo__cards__like-counter.css);
@import url(./blocks/photo-cards/__button-like/_active/photo-cards__button-like_active.css);
@import url(./blocks/photo-cards/__button-del/photo-cards__button-del.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copy/footer__copy.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);

@import url(./blocks/form/__title/form__title.css);
@import url(./blocks/form/__fieldset/form__fieldset.css);
@import url(./blocks/form/__field/form__field.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__input/_type_error/form__input_type_error.css);
@import url(./blocks/form/__input-error/form__input-error.css);
@import url(./blocks/form/__input-error/_active/form__input-error_active.css);
@import url(./blocks/form/__save-button/form__save-button.css);
@import url(./blocks/form/__save-button/_inactive/form__save-button_inactive.css);

@import url(./blocks/overlay-photo/overlay-photo.css);
@import url(./blocks/overlay-photo/__container/overlay-photo__container.css);
@import url(./blocks/overlay-photo/__image/overlay-photo__image.css);
@import url(./blocks/overlay-photo/__description/overlay-photo__description.css);

@import url(./blocks/confirm-popup/__title/confirm-popup__title.css);
@import url(./blocks/confirm-popup/__button/confirm-popup__button.css);
